<section>
  <div class="perfil-container">
    <div class="avatar"></div>
    <div class="info">
      <h2>Nombre de usuario</h2>
      <p>Ubicación: Ciudad, País</p>
      <button [routerLink]="['/perfil/editar-perfil']" routerLinkActive="router-link-active">Editar perfil</button>
    </div>
  </div>
  <div class="contenedor-barra-navegacion">
    <div class="avatar"></div>
    <div class="info">
      <p>contenedor-publicaciones</p>
      <p>contenedor-seguidores</p>
      <p>contenedor-seguidos</p>
    </div>
    <div class="contenedor-publicaciones">
      <div class="item-publicacion">
        <div class="contenedor-fotos">
          <div class="foto"></div>
          <div class="foto"></div>
          <div class="foto"></div>
        </div>
      </div>
    </div>
  </div>
  
</section>
