/* publicacion-modal.component.css */
.modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  animation: fadeIn 150ms ease-in;
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@keyframes fadeIn {
  from{
    opacity: 0;
  }to{
    opacity: 1;
  }
}
/* AFTER MODAL */
.post-modal{
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  max-width: 768px;
}
.post-modal ul{
  list-style-type: none;
}
.post-content{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  flex: 1;
  min-height: 80vh;
}
.post-content img{
  width: fit-content;
  height: fit-content;
  max-width: 320px;
}