<div class="modal">
  <div class="modal-content">
    <span class="close" (click)="close()">&times;</span>
    <div class="post-modal">
      <picture class="post-content">
        <img
          [src]="publicacionActual?.rutaContenido"
          [alt]="publicacionActual?.descripcion"
          width="320px"
        />
      </picture>
      <article>
        <header>
          <picture>
            <img
              height="66"
              width="66"
              class="icono-historia"
              [src]="'https://picsum.photos/id/' + publicacionActual?.idPublicacion + '/468/640/'"

            />
            <p>{{publicacionActual?.usuario?.nombreUsuario}}</p>
          </picture>
          <ul>
            <li>{{publicacionActual?.descripcion}}</li>
          </ul>
        </header>
      </article>
    </div>
  </div>
</div>
