<section>
  <div class="contenedor">
    <header class="barra-historias">
      <div class="nav-historias">
        <a href="" class="anchor-historia">Para ti</a>
        <a href="" class="anchor-historia">Siguiendo</a>
      </div>
      <div class="contenedor-historias">
        @for (item of usuarios; track item.id) {
        <div class="mini-historia">
          <img
            height="66"
            width="66"
            class="icono-historia"
            [src]="'https://picsum.photos/id/' + item.id + '/66/66'"
          />
          <p>{{ item.nombre_usuario }}</p>
        </div>
        }
        <mat-icon
          class="mat-clickable"
          aria-hidden="false"
          aria-label="Navigate Next icon"
          fontIcon="navigate_next"
        ></mat-icon>
      </div>
    </header>
    @for (item of listaPublicaciones$; track item.idPublicacion) {
    <article class="post">
      <header class="post-titulo">
        <div class="post-info-usuario">
          <img [src]="item.rutaContenido" [alt]="item.descripcion" />
          @if(item.usuario){

            <p>{{ item.usuario.nombreUsuario}}- <span class="post-time">3h</span></p>
          }
        </div>
        <div>
          <span>...</span>
        </div>
      </header>
      <div class="post-contenido">
        <img
          [src]="'https://picsum.photos/id/' + item.idPublicacion + '/468/640/'"
          alt=""
        />
      </div>
      <div class="post-btns">
        <div class="post-interactive-btns">
          <mat-icon
            aria-hidden="false"
            aria-label="Like icon"
            fontIcon="thumb_up_alt"
          ></mat-icon>
          <mat-icon
            aria-hidden="false"
            aria-label="Comment icon"
            fontIcon="mode_comment"
          ></mat-icon>
          <mat-icon
            aria-hidden="false"
            aria-label="Share icon"
            fontIcon="ios_share"
          ></mat-icon>
        </div>
        <div>
          <mat-icon
            aria-hidden="false"
            aria-label="Bookmark icon"
            fontIcon="bookmark"
          ></mat-icon>
        </div>
      </div>
      <div class="post-info">
        <p class="likes">320 likes</p>
        <span class="open-comments">Abre todos los comentarios - 4 comentarios</span>
        <div class="post-add-comment">
          <input type="text" placeholder="Añade un comentario" [(ngModel)]="comentarioActual" (keyup.enter)="postComentario()"/>
          <button class="btn-post" (click)="postComentario()">POST</button>
        </div>
      </div>
    </article>
    }
  </div>
  <aside class="sidebar">
    <div class="sidebar-perfil">
      <img [src]="usuario.imgPerfil" alt="Foto de perfil de usuario" />
      <div>
        <h3>{{ usuario.nombre_usuario }}</h3>
        <p>{{ usuario.nombre_completo }}</p>
      </div>
    </div>
    <div class="sidebar-sugerencias">
      <div class="siderbar-btns">
        <p id="sugerencia">Te sugerimos</p>
        <a href="" class="show-all">Mostrar todos</a>
      </div>
      <ul class="sidebar-sugerencias">
        @for (item of usuarios; track item.id) {
        <li>
          <div class="sug-info">
            <img
              [src]="'https://picsum.photos/id/' + item.id + '/60/60'"
              [alt]="item.nombre_completo"
            />
            <div>
              <h3>{{ item.nombre_usuario }}</h3>
              <p>{{ item.nombre_completo }}</p>
              <p class="mini-text">Suggester for you</p>
            </div>
          </div>
          <a href="#" class="btn-follow">Follow</a>
        </li>
        }
      </ul>
    </div>
  </aside>
  
</section>
